/*===1 GENERAL===*/

/*===1.1 marges===*/

html {
    margin : 2% 2% 2% 2%;
}

@media screen and (min-width: 640px) {
    * {
        margin-left: 10px;
        margin-right: 10px;
    }
}
 
/*===1.2 polices===*/

h1 {
    margin-left: 20%;
    padding-left : 5%;
    font-family: 'Advent Pro', sans-serif;
    background-color:rgb(21, 77, 48);
    color: white;
}

h2 {
    font-family: 'Advent Pro', sans-serif;
    color:rgb(21, 77, 48);
    font-size: 15px ;
}

h3 {
    font-family:'Advent Pro', sans-serif;
    color:rgb(21, 77, 48);
    font-size: 7%;
}

h4 {
    font-family:'Advent Pro', sans-serif;
    color:rgb(21, 77, 48);
    font-size: 15px;
    border: solid 1px rgb(21, 77, 48);
}

h5 {
    font-family:'Montserrat', sans-serif;
    color:rgb(21, 77, 48);
    font-size: 15px;
}

p {
    font-family: 'Montserrat', sans-serif; 
    text-align: justify;  
    font-size: 15px;
}

@media screen and (min-width:640px) {
    p {
        font-size: 20px;
    }
}

.small {
    font-size: 8px;
}

:visited {
    color: grey;
    text-decoration: none;
}


/* ====1.3 header==== */

header {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 150px;
    height: 150px;
}

@media screen and (min-width:640px) {
    .logo {
        width: 150px;
        height: 150px;
    }
}

.main-nav {
    margin-top: 20px;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(21, 77, 48);
    font-weight: bold;
    font-size: 12px; 
    line-height: 2;
    letter-spacing: 1px;
}

.main-nav ul li a {
    margin-top: 10px;
    margin-bottom: 10px;
    padding : 10px 10px 10px 10px;
}

.main-nav a:link {
    text-decoration: none;
}

.main-nav a:visited {
    text-decoration: none;
    background-color: white;
    color:rgb(21, 77, 48);
}

.main-nav a:hover {
    background-color: rgb(21, 77, 48);
    color: white;
    text-decoration: none;
}

.main-nav a .active {
    background-color: rgb(21, 77, 48);
    color: white;
    text-decoration: none;
}


/*===1.4 boutons===*/

.button1 {    
    background-color: white;
    color: rgb(21, 77, 48);
    border: solid 2px rgb(21, 77, 48);
    padding: 5px 5px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    font-family:'Montserrat', sans-serif;
    margin-bottom: 2px;
    margin-right: 2px;
}

.button1:hover {
    background-color: rgb(21, 77, 48); 
    border: none;
    color: white;    
}

.button2 {
    background-color: rgb(21, 77, 48); 
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    font-family:'Montserrat', sans-serif;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.button2:hover {
    background-color: white;
    color: rgb(21, 77, 48);
    border: solid 1px rgb(21, 77, 48);
    border-radius: 10px;

}



/*===2 BODY ACCUEIL=== */

/*==2.1 Layout ==*/

aside {
    width: 50%;
    margin-right: 4px;
}

.conteneur1 {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width:640px) {
    .conteneur1 {
        margin-left: 20%;
}
}

.layout1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5px;
    margin-top: 10%;
}

.conteneur2 {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom: 30px;
}


/*==2.2 aside==*/

.prez {

    font-size: 11px;
}
.bold {
    font-weight: bold;
}

.jv {
    width: 80px;
    height: 120px;
    float: left;
    margin-right: 2px;
}

/*==2.3 photos== */

.gev1, .gev7 {
    width: 48%;
}

.gev4 {
    width: 100%;
}

.gev6, .gev8 {
    width: 48%;
}

/*==2.4 dernières actus== */


.date {
    font-family:'Montserrat', sans-serif;
    font-size: 10px;
    margin-bottom: -20px;
}

.fete1 {
    width: 40%;
    height: auto;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;

}

.degats {
    width: 30%;
    height: auto;
    margin-bottom: 2px;
    margin-right: 10px;
    float: left;
}

.ag {
    width: 40%;
    height: auto;
    margin-bottom: 10px;
    margin-right: 2px;
    float: left;
}

.liste-ag {
    padding-left: 30px;
	list-style: none;
	background-image: url(https://cdn-icons-png.flaticon.com/512/8524/8524537.png);
	background-repeat: no-repeat;
	background-size: 20px;
    font-family:'Montserrat', sans-serif;
}

.texte-article {
    font-family:'Montserrat', sans-serif;
    position: float;
    text-align: justify;
}


.suite:active, .suite:link, .suite:visited {
    color: grey;
}

.suite {
    font-style:'Montserrat', sans-serif;
}

.imghp {
    width: 40px;
}

.hautpage:link, .hautpage:active {
    color:black;
}

.hautpage:visited {
    color: grey;
}

/*=== 3.BODY PRESENTATION=== */

.conteneur5 {
    display: flex;
    flex-direction: column;
}

.fish4-1 {
    width: 100%;
    height: auto;
}

.ca {
    font-family: 'Montserrat', sans-serif; 
    text-align: justify;  
    font-size: 15px;
}

.cartepeche {
    width: 100%;
    height: auto;
}

.encadre-cartepeche {
    display: flex;
    flex-direction:row;
    margin-top: 20px;

}

.encadre-cartepeche2 {
    width: 90%;
    border : 3px dotted rgb(21, 77, 48);
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: justify;
    padding: 5px 15px 15px 15px;
}

.encadre-infos {
    display: flex;
    flex-direction:row;
}

.encadre-infos2 {
    width: 100%;
    border : 3px dotted rgb(21, 77, 48);
    border-radius: 20px;
    text-align: justify;
    line-height: 1.5;
    padding: 5px 15px 5px 15px;
}

.fleche1 {
    width: 30px;
    height: 30px;
    margin-top: 40px;
    margin-right: 10px;
}

.fleche2 {
    width: 30px;
    height: 30px;
    margin-top:40px;
    margin-right: 10px;
}

@media screen and (min-width:640px) {
    .fleche1 {
        width: 75px;
        height: 75px;
        margin-top: 80px;
    }

    .fleche2 {
        width: 75px;
        height: 75px;
        margin-top: 60px;
    }
}



/*===4. BODY REGLEMENTATION=== */

.conteneur6 {
    display: flex;
    flex-direction: column;
}

.liste-regle {
    padding-left: 30px;
	list-style: none;
	background-image: url(https://cdn-icons-png.flaticon.com/512/8524/8524537.png);
	background-repeat: no-repeat;
	background-size: 20px;
    font-family:'Montserrat', sans-serif;
    text-align: justify;  
    font-size: 15px;
}

.ruisseau1, .ruisseau2, .ruisseau3 {
    width: 32%;
    height: auto;
}

.conteneur7 {
    border : 3px dotted rgb(21, 77, 48);
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: justify;
    padding: 5px 15px 5px 15px;
}


/* ==5. EVENEMENTS== */

.conteneur8 {
    display: flex;
    flex-direction: column;
}

.conteneur9 {
    display: flex;
    flex-direction: column;
}

.calendar {
    width: 100%;
    display:inline-grid;
    justify-content:center;
    align-items:center;
    background:#fff;
    border-radius:5px;
    border: solid 0.5px grey;

    .month {
        display:flex;
        justify-content:space-between;
        align-items:center;
        font-size:20px;
        font-weight:300;
        font-family:'Montserrat', sans-serif;
    
    .year{
        font-weight:600;
        margin-left:10px;
    }
    
    .nav{
        display:flex;
        justify-content:center;
        align-items:center;
        text-decoration:none;
        color:#0a3d62;
        width:40px;
        height:40px;
        border-radius:40px;
        transition-duration:.2s;
        position:relative;
      
        &:hover{
        background:#eee;
      }
    }
  }
  
  .days{
    display: grid;
    justify-content:center;
    text-align: center;
    align-items:center;
    grid-template-columns: repeat(7, 1fr);
    color:rgb(21, 77, 48);
    font-family: 'Advent Pro', sans-serif;
  }
  
  .dates{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    
    .button3{
      color: black;
      cursor:pointer;
      outline:0;
      border:0;
      background:transparent;
      font-family: 'Montserrat', sans-serif;
      font-size:16px;
      justify-self:center;
      align-self:center;
      width:50px;
      height:50px;
      border-radius:50px;
      margin:2px;
      transition-duration:.2s;
      
      &.today{
        box-shadow:inset 0px 0px 0px 2px rgb(21, 77, 48);
      }
      
      &:first-child{
        grid-column:3;
      }
      
      &:hover{
        background:white;
      }
      
      &:focus{
        background:rgb(21, 77, 48);
        color:white;
        font-weight:600;
      }
    }
  }
}

.fete2bis {
    margin-right: 2px;
    width: 40%;
    height: auto;
    float: left;
}



/*===5. BODY ACTUALITES=== */

.conteneur10 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fete1bis, .agbis, .secheresse, .fete2 {
    width: 100%;
}


/* ==6. FOOTER== */

.conteneur4 {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(21, 77, 48) ;
    color:white;
    display:flex;
    flex-direction: row;
    justify-items: center;
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    padding-top: 0px;
}

.conteneur4-1 {
    width: 40%;
    margin-top: 5px;
    margin-left:20px;
    margin-right:20px;
}

.conteneur4-2 {
    margin-left:20px;
    margin-top: 5px;
}

.map {
    width:100%;
    height:auto;
}

.fb, .ig, .yt {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.mail {
    font-size: 8px;
    font-weight: bold;
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
    color:white;
}

.mail:visited, .mail:active {
    color:white;
}

.underline {
    text-decoration: underline;
    font-size: 10px;
}

.logofooter {
    width: 85%;
    height: auto;
}
.credits {
    font-size: 8px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}







